.header {
  height: 8vh;
  width: 100vw;
  background-color: #519872;
}
.iconContainer {
  color: white;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 26%;
  left: 21%;
  font-weight: 800;
  text-decoration: none;
}
.houseIcon {
  margin-right: 8px;
}
